.anchor,
.item {
  display: flex;
}

.anchor {
  --button-padding: calc(var(--font-size-default) / 2);
  align-items: center;
  color: var(--color-gray-2);
  font-weight: 700;
  justify-content: center;
  padding: var(--button-padding) calc(var(--button-padding) * var(--phi));
  text-decoration: none;
  width: 100%;
}

.anchor:focus,
.anchor:hover {
  background-color: var(--color-gray-5);
}

.anchor:focus,
.anchor:hover,
.selected {
  color: var(--color-gray-1);
}