.menu {
  display: flex;
}

.anchor {
  --button-padding: calc(var(--font-size-default) / 2);
  color: var(--color-gray-3);
  display: inline-block;
  font-weight: 700;
  padding: var(--button-padding) calc(var(--button-padding) * var(--phi));
  text-decoration: none;
}

.anchor:focus,
.anchor:hover {
  background-color: var(--color-gray-5);
}

.anchor:focus,
.anchor:hover,
.selected {
  color: var(--color-gray-1);
}