.anchor {
  --button-padding: calc(var(--font-size-default) / 2);
  color: var(--color-gray-2);
  display: inline-block;
  font-weight: 700;
  padding: var(--button-padding) calc(var(--button-padding) * var(--phi));
  text-decoration: none;
}

.anchor:focus,
.anchor:hover {
  background-color: var(--color-gray-5);
}

.anchor:focus,
.anchor:hover,
.selected {
  color: var(--color-gray-1);
}

.logo {
  background: url(/img/logo.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  height: 2.25em;
  margin: 0 1em;
  width: 2.25em;
}

.menu {
  align-items: center;
  display: flex;
}